/* layout */
body {background-color:#fff; color:#363636; padding:0; font-size:1em; line-height:1.25em;}
.container-fluid {padding:0 2em; max-width:1000px; margin:0 auto;}
.header {
	background:#fff;
	text-align:center;
	max-height:288px;
/* Chrome 10+,Safari */
	background : -webkit-linear-gradient(top, rgb(206, 42, 62) 50%, rgb(255, 255, 255) 50%);
/* Firefox 4+ */ 
	background : -moz-linear-gradient(top, rgb(206, 42, 62) 50%, rgb(255, 255, 255) 50%);
/* Opera */
	background : -o-linear-gradient(top, rgb(206, 42, 62) 50%, rgb(255, 255, 255) 50%);
/* IE 10+ */
	background : -ms-linear-gradient(top, rgb(206, 42, 62) 50%, rgb(255, 255, 255) 50%); 
/* W3C */
	background : -linear-gradient(top, rgb(206, 42, 62) 50%, rgb(255, 255, 255) 50%);
}
.row1 {background-color:#f1f1f1; padding:2em 0;}
.row2 {background-color:#363636; padding:2em 0;}
footer {background-color:#363636; color:#fff;}
footer .container-fluid {border-top:1px solid #666; padding:1em 0 2em 0}
.video {background-color:#000; color:#fff; text-align:center;}
/* make html5 video player responsive */
video {width:100%; max-width:1000px; height:auto;}

/* modules */
.introtext {padding-bottom:2em;}
.postcard {background-color:#e1e1e1; padding:1em 0;}
.therecord {margin-bottom:2em;}
.postcard .postcard-wrap {padding-left:1em;}
.postcard .span3 {
	padding: 1em 1em 0 1em;
}

.module {background-color:#fff; height:100%; margin-bottom:2em;}
.module header {background-color:#cd2a3d; color:#fff; min-height:74px;}
.more-modules .module header {min-height:inherit;}
.more-modules .info-wrap, .more-modules .trivia-wrap {min-height:100px; padding:1em; background-color:#e1e1e1;}
.fb-comments{width: 100% !important; overflow-y: scroll;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-like-box{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
.fb-like-box span{width: 100% !important;}
.fb-like-box iframe span[style]{width: 100% !important;} 
.fl .img-wrap {padding:1em 0 0 0;}
.fl-images {padding-bottom:1em; margin:0 auto; width:96%;}
.fl-images a {margin:0 1% 1em 0;}
.fl-images a:last-child {margin-right:0;}
.fl-images img {width:31.5%;}
.wc .cam-wrap {padding:1em .5em .5em 0;}
.wc .cam-wrap .row-fluid {padding-bottom:.5em;}
.wc .cam-wrap .span6 {background-color:#999; float:left; width: 46.61878453038674%; *width: 46.56559304102504%; margin-left:2.76243%; position:relative;}
.cam-wrap .span6 p {position:absolute; left:0; bottom:0; width:100%;}
.info .info-inset {padding:1em;}
.therecord .row-fluid {background-color:#e1e1e1;}
.therecord .record-wrap {padding:.5em 1em;}
.record-wrap .span2 {border-top:1px dotted #363636; border-left:none;}
.record-wrap .span4 img {width:100%;}
/* test section */
.record-wrap .headline {padding:.75em 0; border-top:1px dotted #363636; border-left:none; width:100%;}
.record-wrap .headline.main {border:none;}
.record-wrap .headline.main img {width:100%; margin:0 0 .5em 0}
/* end test section */


/* typography */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:normal;
	line-height:1;
	margin:0; 
	padding:0 0 .5em 0;
}
p, li, blockquote {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:.875em;
	font-weight:normal;
	margin:0;
	padding:0 0 1em 0;
}
dt {font-weight:bold; padding-bottom:0;}
dd {margin-left:0;}
a, a:hover {color:#c4323f; font-weight:normal; text-decoration:none;}

.header h1 {max-height:288px; height:100%; width:100%;}
.introtext {text-align:center;}
.introtext h2 {font-size:1.75em; font-weight:bold; line-height:1.25em; text-transform:uppercase;}
.introtext p {font-size:1.3125em; line-height:114.285714285714%; padding-bottom:0;}
.module header {padding:.75em 1.25em;}
.module header h1 {font-size:2em; font-weight:normal; text-transform:uppercase; padding-bottom:.25em;}
.module.fb header h1:before {content:""; display:block; float:left; width:65px; height:80px; background:url(cssimg/social-icons.png) no-repeat 0px 0px; margin-right:.625em;}
.module.tw header h1:before {content:""; display:block; float:left; width:65px; height:80px; background:url(cssimg/social-icons.png) no-repeat 0 -80px; margin-right:.625em;}
.module.fl header h1:before {content:""; display:block; float:left; width:65px; height:80px; background:url(cssimg/social-icons.png) no-repeat 0 -160px; margin-right:.625em;}
.module.wc header h1:before {content:""; display:block; float:left; width:65px; height:80px; background:url(cssimg/social-icons.png) no-repeat 0 -240px; margin-right:.625em;}
.module header p {font-size: .8125em; padding-bottom:0;}
.postcard h2 {font-size:2em; text-transform:uppercase;}
.fl p {font-size:1.14285714285714em; padding:0 0 1em .675em;}
.cam-wrap .span6 p {background-color:#363636; color:#fff; padding:0; text-align:center;}
.cam-wrap .span6 p a {display:block; color:#fff; padding:.5em 0;}
.info-wrap img, .trivia-wrap img {float:left; padding:0 1em 1em 0;}
.info-wrap p, .trivia-wrap p {font-weight:bold; font-size:1.14285714285714em;}
.info-wrap p a, .trivia-wrap p a {font-weight:bold;}
.therecord header h1 img {max-height:68px;}
.therecord header p {text-transform:uppercase; font-size:1.25em; line-height:120%;}
.record-wrap p {font-size:1em; font-style:italic; text-align:center; padding:.75em;}


/* trivia page */
p.quest {font-weight:bold; padding-bottom:0;}
p.quest span.ans {font-weight:normal; font-style:italic;}
li {padding-bottom:0;}
.accordion-group {margin-bottom:1em; border:0;}
.accordion-heading .accordion-toggle {padding:0 0 .5em 0; font-weight:bold;}
.accordion-inner {border:none;}

/* articles */
.article h1 {color:#ce2a3e; font-size:2em; font-weight:bold; line-height:1.04166666666667em;}
.article h2 {color:#363636; font-size:1.5em; font-weight:bold; line-height:1.25em;}
.article h3 {color:#363636; font-size:1.125em; line-height:1.11111em; font-weight:bold; text-transform:uppercase;}
.article p, .article li, .article dt, .article dd {font-size:1em; padding-bottom:1.25em;}
.article dt {color:#ce2a3e; font-style:italic; font-weight:normal; padding-bottom:0;}
.article .byline {color:#898989;}
.article blockquote {color:#ce2a3e; font-style:italic; font-size:1.25em; line-height:1.5em; border-left:4px solid #ce2a3e; padding:0 0 0 .75em; margin:0 0 1em -.75em;}
.article .image {float:none; max-width:1000px;}
.article .image.hero { margin:-2em auto 1em auto;}
.article .image.hero img {width:100%; max-width:1000px;}
.article .image img {margin:0; padding:0;}
.article .image .caption {background-color:#e1e1e1; color:#000; font-style:italic; font-weight:bold; font-size:.75em; line-height:1.33333em; padding:0.83333em 1.66667em 1.33333em 1.66667em;}
.article .tips {list-style-type:none; margin:0 0 0 40px;}
.article .tips li {padding-bottom:1em;}
.article .therecord {margin-top:2em; margin-bottom:0;}

footer {color:#e1e1e1; font-size:1;}
footer a, footer a:hover {color:#fff; font-weight:bold; text-decoration:none;}


#siteinfo {border-top:1px solid #326394; color:#fff; padding-top:.5em;}
#siteinfo p {display:inline-block; color:#fff;}
footer .clearfix, footer {text-align:center; padding:0 1em;}
footer .logo {}
footer .commencementlink {padding-top:1em;}
footer .siteinfo {text-align:center; width:90%; margin:0 auto;}
footer .siteinfo span {padding:0 .5em; white-space:nowrap;}

/* *** IE7 & 8 TWEAKS *** */
/* because they can't understand media queries */
.iehelp .therecord header h1 {max-width:40%; padding-right:5%; float:left;}
.iehelp .therecord header div {width:55%; float:left; padding-top:.75em; text-align:center;}
.iehelp .therecord header div p {text-align:left;}
.iehelp .record-wrap p {font-size:1em; font-style:italic; text-align:center; padding:.5em;}
.iehelp .record-wrap .headline {display:inline-block; float:left; padding:0; border-top:none; border-left:none; width:16.7%;}
.iehelp .record-wrap .headline.main {border:none; width:33%;}
.iehelp .record-wrap .headline.main p {padding-left:50%;}
.iehelp .record-wrap .headline.main img {width:48%; float:left; margin:.5em .5em .5em 0}



/* *** MEDIA QUERIES *** */
@media (max-width: 320px) {
	footer .siteinfo {
		margin: 0 0 0 0;
	}
	.container-fluid {
		padding: 0 1em;
	}
}

/* *** MEDIA QUERIES *** */
@media (max-width: 480px) {
	/* this is pointless. all the css up to this point should take care of phone-width */
	
}

@media (max-width: 767px) {
	/* keep modules from being too wide on tablet devices */
	.row1 .container-fluid, .row2 .container-fluid {max-width:500px;}
	
	.module.fb header h1:before {content:""; display:block; float:left; width:40px; height:80px; background:url(cssimg/social-icons.png) no-repeat -80px 0px; margin-right:.625em;}
	.module.tw header h1:before {content:""; display:block; float:left; width:40px; height:80px; background:url(cssimg/social-icons.png) no-repeat -80px -80px; margin-right:.625em;}
	.module.fl header h1:before {content:""; display:block; float:left; width:40px; height:80px; background:url(cssimg/social-icons.png) no-repeat -80px -160px; margin-right:.625em;}
	.module.wc header h1:before {content:""; display:block; float:left; width:40px; height:80px; background:url(cssimg/social-icons.png) no-repeat -80px -240px; margin-right:.625em;}

}

@media (min-width: 768px) {
	.fb-comments{height:500px;}
	footer .clearfix, footer {padding:0 1em;}
	footer .logo {float:left;}
	footer .commencementlink {float:right; padding-top:1em;}
	.postcard .span3 {padding: 0;}
	.article .image.left {float:left; margin:0 1em 1em -.75em;}
	.article .image.right {float:right; margin:0 0 1em 1em;}
	.article h1 {font-size:3em;}
	.therecord header h1 {max-width:40%; padding-right:5%; float:left;}
	.therecord header div {width:55%; float:left; padding-top:.75em; text-align:center;}
	.therecord header div p {text-align:left;}
	.record-wrap p {font-size:1em; font-style:italic; text-align:center; padding:.5em;}
	.record-wrap .headline {display:table-cell; padding:0; border-top:none; border-left:1px dotted #363636; width:16.7%;}
	.iehelp .record-wrap .headline {display:inline-block; border-left:none;}
	.record-wrap .headline.main {border:none; width:33%;}
	.record-wrap .headline.main p {padding-left:50%;}
	.record-wrap .headline.main img {width:48%; float:left; margin:.5em .5em .5em 0}

}

@media (min-width: 980px) {

}

@media (min-width: 1200px) {

}
